/* Start Global Rules */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

:root {
    --main-color: #2196f3;
    --main-color-alt: #116db8;
    --main-transition: .3s;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cairo', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */
/* Start Header */
.header {
    background-color: white;
    box-shadow: 0 0 10px #DDD;
    -webkit-box-shadow: 0 0 10px #DDD;
    -moz-box-shadow: 0 0 10px #DDD;
    position: relative;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.header .container .logo {
    color: var(--main-color);
    font-size: 26px;
    height: 73.6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

@media (max-width:767px) {
    .header .container .logo {
        width: 100%;
        height: 50px;
    }
}

.header .container .main-nav {
    display: flex;
}

@media (max-width:767px) {
    .header .container .main-nav {
        margin: auto;
    }
}

.header .container .main-nav>li:hover .mega-menu {
    opacity: 1;
    z-index: 100;
    top: calc(100% + 1px);
}

.header .container .main-nav>li>a {
    height: 73.6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 0 30px;
    position: relative;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    overflow: hidden;
}

@media (max-width:767px) {
    .header .container .main-nav>li>a {
        padding: 10px;
        font-size: 14px;
        height: 40px;
    }
}

.header .container .main-nav>li>a::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.header .container .main-nav>li>a:hover {
    color: var(--main-color);
    background-color: #fafafa;
}

.header .container .main-nav>li>a:hover::before {
    left: 0;
}

/* Start Megamenu */
.header .mega-menu {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 30px;
    background-color: white;
    border-bottom: 3px solid var(--main-color);
    z-index: 100;
    display: flex;
    gap: 40px;
    top: calc(100% + 50px);
    z-index: -1;
    opacity: 0;
    transition: top var(--main-transition), opacity var(--main-transition);
    -webkit-transition: top var(--main-transition), opacity var(--main-transition);
    -moz-transition: top var(--main-transition), opacity var(--main-transition);
    -ms-transition: top var(--main-transition), opacity var(--main-transition);
    -o-transition: top var(--main-transition), opacity var(--main-transition);
}

@media (max-width:767px) {
    .header .mega-menu {
        flex-direction: column;
        gap: 0;
        padding: 5px;
    }
}

.header .mega-menu .image img {
    max-width: 100%;
}

@media (max-width:991px) {
    .header .mega-menu .image {
        display: none;
    }
}

.header .mega-menu .links {
    min-width: 250px;
    flex: 1;
}

.header .mega-menu .links li {
    position: relative;
}

.header .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid #E9E6E6;
}

@media (max-width:767px) {
    .header .mega-menu .links:first-of-type li:last-child {
        border-bottom: 1px solid #E9E6E6;
    }
}

.header .mega-menu .links li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #FAFAFA;
    z-index: -1;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.header .mega-menu .links li:hover:before {
    width: 100%;
}

.header .mega-menu .links li a {
    color: var(--main-color);
    padding: 15px;
    display: block;
    font-size: 18px;
    font-weight: bold;
}

.header .mega-menu .links li a i {
    margin-right: 10px;
}

/* End Megamenu */
/* End Header */
/* Start Landing */
.landing {
    position: relative;
}

.landing::before {
    content: "";
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    height: 100%;
    background-color: #ECECEC;
    z-index: -1;
    transform: skewY(-6deg);
    -webkit-transform: skewY(-6deg);
    -moz-transform: skewY(-6deg);
    -ms-transform: skewY(-6deg);
    -o-transform: skewY(-6deg);
    transform-origin: top left;
}

.landing .container {
    min-height: calc(100vh - 73.6px);
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}

.landing .container .text {
    flex: 1;
}

@media (max-width:991px) {
    .landing .container .text {
        text-align: center;
    }
}

.landing .container .text h1 {
    font-size: 40px;
    margin: 0;
    letter-spacing: -2;
}

@media (max-width:767px) {
    .landing .container .text h1 {
        font-size: 28px;
    }

    .landing .container .text h1 span {
        display: block;
    }
}

.landing .container .text p {
    font-size: 23px;
    line-height: 1.7;
    margin: 2px 0 0;
    color: #666;
    max-width: 500px;
}

@media (max-width:767px) {
    .landing .container .text p {
        font-size: 18px;
    }
}

@media (max-width:991px) {
    .landing .container .text p {
        margin: 10px auto;
    }
}

.landing .container .image img {
    position: relative;
    width: 600px;
    animation: up-and-down 5s linear infinite;
    -webkit-animation: up-and-down 5s linear infinite;
}

@media (max-width:991px) {
    .landing .container .image {
        display: none;
    }
}

.landing .go-down {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    color: var(--main-color);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.landing .go-down:hover {
    color: var(--main-color-alt);
}

.landing .go-down i {
    animation: bouncing 1.5s infinite;
    -webkit-animation: bouncing 1.5s infinite;
}

/* End Landing */
/* Start Animaion */
@keyframes up-and-down {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}

@keyframes bouncing {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -o-transform: translateY(-15px);
    }
}

/* End Animaion */